.header {
  min-width: $container-size+30;
}

.header__top {
  
  box-sizing: border-box;
  border-bottom: 2px solid #ebedef;
  background-color: $white;
  
  padding: 25px 0;
}

.header__left {
  width: 50%;
  float: left;
}

.social__list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.social__item {
  display: inline-block;
  
  margin-left: 16px;
  list-style-type: none;
  &:first-child {
    margin-left: 0;

  }
}

.social__link {
  display: block;
}

.social__link_fb {
  @include sprite($fb);

  &:hover {
    @include sprite($fb-hover);
  }
}

.social__link_vk {
  @include sprite($vk);

  &:hover {
    @include sprite($vk-hover);
  }
}

.social__link_tw {
  @include sprite($tw);

  &:hover {
    @include sprite($tw-hover);
  }
}

.header__right {
  width: 50%;
  float: right;
  text-align: right;
}

.address {
  display: inline-block;
  vertical-align: middle;
  color: $black;
  font-size: .875rem;
  font-family: 'open_sansregular';
  &:before {
    display: inline-block;
    content: '';
    @include sprite($map-pin);
    padding-right: 9px;
    margin-bottom: -4px;
  }
}

.phone {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.125rem;
  color: $black;
  font-family: 'open_sanssemibold';
  margin-left: 95px;
  text-decoration: none;
  &:before {
    display: inline-block;
    content: '';
    @include sprite($phone);
    padding-right: 4px;
    margin-bottom: -2px;
  }
}

.header__bottom {
  box-sizing: border-box;
  padding: 28px 0;
  min-width: $container-size;
}

.logo__link {
  float: left;
  display: block;
}

.logo__img {
  display: block;
  max-width: 237px;
  max-height: 35px;
}
.logo__text {
  position: absolute;
  left: -9999px;
}

.search {
  float: left;
  margin-left: 57px;
}

.search__input {
  box-sizing: border-box;
  height: 34px;
  width: 293px;
  border: 1px solid $grey;
  padding: 0 17px;
  font-size: .875rem;
  font-family: 'open_sanslight';
  color: #7f7f7f;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

.search__button {
  box-sizing: border-box;
  height: 34px;
  width: 79px;
  background-color: $orange;
  color: #ffffff;
  font-family: 'open_sanssemibold';
  font-size: 1rem;
  border-radius: 0 4px 4px 0;
  margin-left: -8px;
  padding-bottom: 2px;
  border: 1px solid $orange;
}

.menu {
	float: right;
	padding-top: 8px;

}

.menu__list {
	margin: 0;
	padding: 0;
}

.menu__item {
	display: inline-block;
	margin-left: 33px;
	
	&:first-child {
		margin: 0;
	}
	

}

.menu__link {
	color: $black;
	font-size: 1rem;
	font-family: "open_sanssemibold";
	&:hover {
		color: $orange;
	}
}