aside.aside
	.categories
		ul.categories__list
			- var categories = ['Флагманы', 'Бюджетная линейка']
			each category in categories
				li.categories__item
					a(href="#").categories__link= category
	.filter
		ul.filter__list
			li.filter__item
				.filter__header
					a(href="#").filter__header-link Наличие в магазинах
				.filter__content
					ul.filter__select-list
						- var variants = ['Во всех магазинах', 'В ближайшем ко мне магазине']
						each variant in variants
							li.filter__select-item
								label.filter__select-label
									input(type="radio" name="loaction").filter__select-input
									.filter__select-elem
									.filter__select-text= variant
								


			li.filter__item
				.filter__header
					a(href="#").filter__header-link Бренды
				.filter__content
					ul.filter__select-list.filter__select-list_checkbox
						- var variants = ['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola']
						each variant in variants
							li.filter__select-item
								label.filter__select-label
									input(type="checkbox").filter__select-input
									.filter__select-elem
									.filter__select-text= variant
					a(href="#").filter__reset Сбросить фильтр



			li.filter__item
				.filter__header
					a(href="#").filter__header-link Цена
				.filter__content
					.filter__slider
						.filter__slider-displays
							.filter__slider-from
								.filter__slider-text от
								input(type="text").filter__slider-input.filter__slider-input_from
							.filter__slider-to
								.filter__slider-text до 
								input(type="text").filter__slider-input.filter__slider-input_to
						div(data-min="0" data-max="100000").filter__slider-block

			li.filter__item
				.filter__header
					a(href="#").filter__header-link Цвет
				.filter__content
					ul.filter__select-list.filter__select-list_colors
						- var colors = ['#ffffff', '#cccccc', '#000000', '#0a3153', '#ff1800', '#fff343', '#fb914a', '#92c37c', '#40a6ff', '#9870ad', '#dc78ad', '#7f401d']
						each color in colors
							li.filter__select-item
								a(style="background-color: #{color}").filter__select-link


			li.filter__item
				.filter__header
					a(href="#").filter__header-link Операционные системы
				.filter__content
					ul.filter__select-list.filter__select-list_checkbox
						- var variants = ['Android', 'iOS', 'Windows Mobile', 'Symbian', 'Custom']
						each variant in variants
							li.filter__select-item
								label.filter__select-label
									input(type="checkbox").filter__select-input
									.filter__select-elem
									.filter__select-text= variant
					a(href="#").filter__reset Сбросить фильтр