header.header
	
	.header__top
		.container
			.header__left
				ul.social__list
					- var icons = ['fb', 'vk', 'tv']
					each icon in icons
						li.social__item
							a(href="#" class="social__link_#{icon}").social__link
			.header__right
				span.address ул. Маяковская 6, офис 17
				a(href="tel:+79211231213").phone +7 (921) 123-12-13
	.header__bottom
		.container
			a(href="/").logo__link
				img(src="img/logo_header.png", alt="Cooltech logo").logo__img
			form.search
				input(type="text" placeholder="Что будем искать").search__input
				input(type="submit", value="Найти").search__button
			ul.menu__list
				- var links = ['Карта проезда', 'История заказов', 'Корзина']
				each link in links
					li.menu__item
						a(href="#").menu__link= link